.move {
  animation: move linear 10s 0.5s infinite;
}

@keyframes move {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

.circle {
  animation: circle linear 60s infinite;
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
