.fly {
  height: 200px;
  transform: rotate(-20deg);
  animation: fly 0.1s infinite linear;
}

.fly-wing {
  position: absolute;
  animation: fly-wing 5s linear 0s infinite;
}

@keyframes fly {
  0% {
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
  }
}

@keyframes fly-wing {
}
