@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300;400;500;600;700;800;900&family=Padauk:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "harry"; /*Can be any text*/
  src: local("HarryPotter"),
    url("./assets/fonts/HarryPotter.ttf") format("truetype");
}

* {
  font-family: 'Grenze Gotisch', 'Padauk';
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-harry {
  font-family: "harry";
}
